# Python
__pycache__/
*.py[cod]
*.so

# Virtual envs
.venv/
venv/
env/

# Django
db.sqlite3
staticfiles/

# Tooling
.mypy_cache/
.pytest_cache/
.ruff_cache/
.idea/
.vscode/
.DS_Store

# Env
.env

# Node
node_modules/
