{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
  {{ block.super }}
  <!-- Admin Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_admin/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_admin/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_admin/favicon-16x16.png' %}">
  <link rel="shortcut icon" href="{% static 'favicon_admin/favicon.ico' %}">
  <link rel="manifest" href="{% static 'favicon_admin/site.webmanifest' %}">
{% endblock %}

{% block branding %}
  <div id="site-name">
    <a href="{% url 'admin:index' %}" class="">
      <img src="{% static 'favicon_admin/favicon-32x32.png' %}" alt="" width="32" height="32" style="vertical-align:middle;margin-right:8px;">
      Riichi Tracker Admin
    </a>
  </div>
{% endblock %}

{% block title %}Riichi Tracker Admin{% endblock %}
