{% load humanize l10n tz %}
{% load l10n %}
{% load i18n %}
{% load static %}

<div class="card bg-base-100 shadow-md mb-4 border border-primary/20 relative" >
  <div class="absolute top-0 left-0 w-[60%] h-full opacity-60 z-1" style="background-image: url('{% static "images/confetti.png" %}'); background-size: cover;  "></div>


  <a href="#" class="btn btn-soft btn-sm pointer-events-none  absolute top-3 right-3 z-10">
    {% trans "Special Day" %}
  </a>

  <div class="card-body p-2 z-2">

    <!-- Birthday message -->
    <div class="flex flex-wrap flex-col gap-y-4 text-lg md:flex-row md:items-center md:justify-between" >
      <div class="flex items-center gap-4">
        <!-- Text -->
        <div class="flex flex-col gap-2  bg-white/90 p-5 text-center" >
          <div class="flex  items-center justify-center">
            <div class="flex gap-4 items-center">
              <h2 class="shrink-0 text-xl text-emerald-700 font-bold">
                🎉 {% trans "Happy Birthday" %}, {{ friend_name }}!
              </h2>
            </div>
          </div>
          <p class="text-base-content text-lg font-semibold">
            {% trans "Wishing you a fantastic year ahead filled with good luck, laughter, and many mahjong wins!" %}
          </p>
          <p class="text-base-content/70 text-sm">
            {% trans "From all your friends at the club ❤️" %}
          </p>
        </div>
        <!-- Image -->
        <img src="{% static 'images/Tialary.png' %}"
             alt="Birthday cake"
             class="rounded-lg shadow-md border w-[50%]" />
      </div>
    </div>
  </div>
</div>
