{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block header-control %}
  <div class="flex grow-1 items-start">
  <header class="flex items-center justify-between">
    <div class="text-2xl font-semibold tracking-tight flex items-center gap-4">
      <img src="{% static 'logo.png' %}" alt="Riichi Tracker logo" class="h-17 w-17 bg-emerald-900 border rounded-md"/>
      <div class="flex flex-col">
        <h1 class="mb-1">Riichi Mahjong Tracker</h1>
        <form method="get">
          <select
              name="club"
              id="club"
              class="select select-sm select-bordered w-full max-w-xs"
              onchange="this.form.submit()"
          >
            <option value="">{% trans "All Clubs" %}</option>
            {% for c in clubs %}
              <option
                  value="{{ c.slug }}"
                  {% if request.GET.club|default:'' == c.slug|stringformat:'s' %}selected{% endif %}
              >
                {{ c.display_name }}
              </option>
            {% endfor %}
          </select>
        </form>
      </div>
    </div>
  </header>

    <a href="/admin/" class="btn btn-outline btn-sm ml-auto ">Admin</a>
  </div>
  {{ block.super }}
{% endblock %}

{% block content %}
  <body class="bg-base-200 p-8">
    <div class="mt-8">
    {% now "n" as current_month %}
    {% now "j" as current_day %}
    {% if current_month == "11" and current_day == "25" %}
      {% include 'games/birthday_card.html' with friend_name="Денис" celebratory_image='images/Denys.png' %}
    {% endif %}

    {% if games %}
      {% for game in games %}
        {% include "games/game_card.html" %}
      {% endfor %}
    {% else %}
      <div class="rounded-lg border border-dashed border-slate-300 bg-white p-8 text-center">
        <p class="text-slate-600">{% trans "No games yet." %}</p>
        <p class="mt-2"><a class="text-sky-700 hover:underline font-medium" href="/admin/games/game/add/">{% trans "Add your first game in Admin" %}</a></p>
      </div>
    {% endif %}
    </div>
  </body>
{% endblock %}
